/* Color palette: https://coolors.co/1c1d21-a288a6-bb9bb0-d6bfca-f1e3e4-46b1c9-84c0c6
*/

html, body {
    height: 100%
}

body {
    margin: 0;
    min-width: 300px;
    background-color:  #1C1D21;
    color:#F1E3E4;
    display:flex;
    flex-direction: column;
}

#content {
    flex: 1 0 auto;
    padding-bottom: 3rem;
}


#header {
    text-align: center;
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
}

#header h1 {
    font-family:cursive;
    width:100%;
}


#player-wrapper {
    display: flex;
    justify-content: space-around;
    padding: 3rem;
}

.player-tile {
    border: 1px white solid;
    height: 8rem;
    width: 12.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding:1rem;
}

.player-tile.active-player {
    transform: scale(1.2);

}

.player-tile .form-wrapper{
    height: 100%;
    width: 100%;
}

.player-tile form {
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;

}

.player-tile .form-header {
    margin: 0px;
}

#board-wrapper {
    display:flex;
    justify-content: center;
}

.board {
    width: 25rem;
    height:25rem;
    display:flex;
    justify-content: center;
}

.board .game-column {
    margin: 0px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    flex-grow: 1;
    flex-basis: 0;
}

.board .cell {
    margin: .5rem;
    flex-grow: 1;
    flex-basis: 0;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    border: 1px solid white;
}

.board .cell.claimed {
    background-color: gray;
}

.board .cell.winner {
    background-color: green;
}

#options-wrapper {
    display: flex;
    justify-content: center;
    margin-top:1rem;
}

.start-game-button {
    padding:1em;
    border: .1em solid white;
}

/*  Footer  */

#footer {
    text-align: center;
    flex-shrink: 0;
    bottom: 0px;
    width:100%;
    background-color: rgb(66,74,78);
}

#footer a {
    color: #F1E3E4;
}

footer p {
    margin: .5em;
}

#footer ul {
    list-style: none;
    margin: 1em;
    padding: 0px;
}

#footer li {
    display: inline;
    margin: 1em;
}

.no-display {
    display:none;
}
